<article class="post">
  <header class="post-header">
    <div class="post-title">{{ page.title | escape }}</div>
    <time
      class="post-date dt-published"
      datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished"
    >
      {%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%} {{
      page.date | date: date_format }}
    </time>
    <div style="text-align: right; text-align: center">
      <a
        href="https://hits.seeyoufarm.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}"
        ><img
          src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2F{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}&count_bg=%23C9D1C2&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=post+views&edge_flat=false"
      /></a>
    </div>
  </header>

  <div class="post-content">{{ content }}</div>
</article>
